@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@200&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Poppins', sans-serif;
   height: 100vh;
   display: flex ;
   
   
}

.background-image{
    width: 35vw;
    height: 100%;
    object-fit: cover;
}

.right-container{
    flex-grow: 1;
}

.logo .camera-logo{
    position: absolute;
    top: 50px;
    left:30px;
    object-fit: cover;
    width: 6%;
    z-index: 1;   
}

.discription{
    background-color: rgb(0, 0, 0);
}
.discription p{
    padding: 100px 100px 30px 150px ;
    color: #f3be54;
    font-size: 1.3rem;
    font-weight: bold;
}


.form-container .title{
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    padding-left: 140px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
    padding: 50px;
    background: black;

}

section .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 50px;
}

section .user-details .input-box{
    width: 279px;
    margin-bottom: 10px;
    line-height: 20px;


}

.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(222, 222, 222);
}

.user-details .input-box input{
    width: 100%;
    height: 30px;
    outline: none;
    background-color: black;
    border-radius: 5px;
    border: 1px solid rgb(222, 164, 29);
    padding-left: 15px;
    font-size: 1rem;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9a948e;
  }

.form-container .button{
    padding: 10px 30px; 
    align-self:flex-start;
    height: 24.9vh;
    background-color: black;
}

.button .login{
    padding-top: 5px;
    display: flex;
    color: rgb(248, 163, 51);
}

button{
    padding: 15px 30px;
    background: black;
    font-size: 18px;
    color: orange;
    border: 3px solid orange;
    border-radius: 8px;
    margin-bottom: 5px;
}








